DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Australia/Perth

# Use DATABASE_URL for PostgreSQL in development or production.
# Example:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wpc_map
DATABASE_URL=
DB_CONN_MAX_AGE=600
DB_SSL_REQUIRE=False
